@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
}
a {
  display: inline-block;
  text-decoration: none;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.wapper {
  width: 1226px;
  margin: 0 auto;
}
ul > li {
  list-style-type: none;
}
.nav {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.nav > .wapper > .nav1 {
  float: left;
  height: 40px;
  line-height: 40px;
}
.nav > .wapper > .nav1 > a {
  color: #b0b0b0;
  line-height: 40px;
}
.nav > .wapper > .nav1 > a:hover {
  color: #fff;
}
.nav > .wapper > .nav1 > .xz {
  position: relative;
}
.nav > .wapper > .nav1 > .xz:hover > .xizai {
  height: 150px;
}
.nav > .wapper > .nav1 > .xz > .xizai {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 124px;
  height: 0;
  background: #fff;
  margin-left: -55px;
  box-shadow: #aaa 0 1px 5px;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  overflow: hidden;
  transition: height 0.3s;
}
.nav > .wapper > .nav1 > .xz > .xizai > img {
  width: 90px;
  height: 90px;
  display: block;
  border: 0;
  margin: 18px auto 12px;
}
.nav > .wapper > .nav1 > .ver {
  margin: 0.3em;
  color: #424242;
}
.nav > .wapper > .buycar {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 40px;
  text-align: center;
  background: #424242;
}
.nav > .wapper > .buycar > a {
  color: #b0b0b0;
  font-size: 12px;
}
.nav > .wapper > .buycar:hover {
  background-color: #ffffff;
}
.nav > .wapper > .buycar:hover > a {
  color: #ff6700;
}
.nav > .wapper > .buycar > .buycar-2 {
  position: absolute;
  background-color: #ffffff;
  border: 0px solid black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  width: 315px;
  height: 0;
  right: 0;
  top: 40px;
  overflow: hidden;
  transition-duration: 0.5s;
}
.nav > .wapper > .buycar:hover > .buycar-2 {
  height: 95px;
}
.nav > .wapper > .nav2 {
  float: right;
  height: 40px;
  line-height: 40px;
}
.nav > .wapper > .nav2 > a {
  color: #b0b0b0;
  line-height: 40px;
}
.nav > .wapper > .nav2 > a:hover {
  color: #fff;
}
.snav {
  height: 100px;
  border-bottom: solid 1px #e0e0e0;
}
.snav > .wapper > .snav-logo {
  overflow: hidden;
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #ff7200;
  margin-top: 22px;
  float: left;
}
.snav > .wapper > .snav-logo > a > img {
  width: 55px;
  height: 55px;
}
.snav > .wapper > .snav-logo .s-logo {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: -55px;
}
.snav > .wapper > .snav-logo .s-logo1 {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}
.snav > .wapper > .snav-logo:hover > .s-logo {
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.snav > .wapper > .snav-logo:hover > .s-logo1 {
  position: absolute;
  top: 0;
  left: 55px;
  transition: all 0.2s;
}
.snav > .wapper > .snav-nav {
  margin-left: 25px;
  float: left;
}
.snav > .wapper > .snav-nav > ul {
  float: left;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  font-size: 16px;
}
.snav > .wapper > .snav-nav > ul > .nav-item {
  float: left;
}
.snav > .wapper > .snav-nav > ul > .nav-item > a {
  padding: 26px 10px 38px;
  color: #333;
}
.snav > .wapper > .snav-nav > ul > .nav-item:hover > a {
  color: orange;
}
.snav > .wapper > .sea {
  float: right;
  width: 275px;
  height: 52px;
  margin-top: 25px;
  font-size: 0;
}
.snav > .wapper > .sea:hover > a > input {
  border-color: #b0b0b0;
}
.snav > .wapper > .sea > .sea-a2:hover > .sea-btn {
  background-color: #ff7200;
  border: 0;
  color: #fff;
}
.snav > .wapper > .sea > a {
  vertical-align: middle;
}
.snav > .wapper > .sea > a > .sea-text {
  width: 223px;
  height: 49px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
}
.snav > .wapper > .sea > a > .sea-btn {
  right: 0;
  width: 52px;
  height: 49px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  outline: 0;
  background-color: #fff;
  color: #616161;
  font-weight: 600;
  transition: all 0.2s;
}
.ceiling {
  position: sticky;
  top: 0px;
  z-index: 999;
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.ceiling > .wapper > .ceil111 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.ceiling > .wapper > .ceil222 > .h3s {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
}
.ceiling > .wapper > .ceil222 > .h3s > a {
  color: #616161;
}
.ceiling > .wapper > .ceil222 > .h3s > span {
  margin: 0 6px;
}
.ceiling > .wapper > .ceil222 > .h3s:hover > a {
  color: #ff6700;
}
.ceiling > .wapper > .ceil222 > .ceiling-1 {
  float: right;
  margin-top: 17px;
  font-size: 14px;
}
.ceiling > .wapper > .ceil222 > .ceiling-1 > a {
  color: #616161;
}
.ceiling > .wapper > .ceil222 > .ceiling-1 > a:hover {
  color: #ff6700;
}
.ceiling > .wapper > .ceil222 > .ceiling-1 > span {
  margin: 0 7px;
}
.particular {
  overflow: hidden;
}
.particular .particulars {
  padding: 32px 0 12px 0;
}
.particular .particulars .particulars-left {
  position: relative;
  width: 50%;
  float: left;
}
.particular .particulars .particulars-left .left-a {
  position: relative;
  font-size: 0;
}
.particular .particulars .particulars-left .left-a img {
  width: 560px;
  height: 560px;
}
.particular .particulars .particulars-left .left-b {
  width: 560px;
  position: absolute;
  text-align: center;
  top: 520px;
}
.particular .particulars .particulars-left .left-b span {
  display: inline-block;
  background: #ccc;
  width: 50px;
  border-radius: 0;
  border: 0;
  height: 3px;
  z-index: 3;
  cursor: pointer;
}
.particular .particulars .particulars-left .left-b span:hover {
  background: #a3a3a3;
  cursor: pointer;
}
.particular .particulars .particulars-left .left-b .letf-1 {
  background: #a3a3a3;
}
.particular .particulars-right {
  width: 580px;
  margin-left: 20px;
  float: left;
}
.particular .particulars-right h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.particular .particulars-right .product {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
  font-size: 14px;
}
.particular .particulars-right .price {
  padding: 12px 0 10px;
}
.particular .particulars-right .price span {
  color: #ff6700;
}
.particular .particulars-right .site {
  margin: 20px 0;
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
.particular .particulars-right .site .site-a .site-a1 {
  float: left;
  line-height: 18px;
}
.particular .particulars-right .site .site-a .site-a1 span {
  margin-right: 14px;
  color: #333;
}
.particular .particulars-right .site .site-a .site-a2 a {
  color: #ff6700;
}
.particular .particulars-right .site .site-b {
  color: #ff6700;
  margin-left: 33px;
}
.particular .particulars-right .Color .Color-M {
  margin-bottom: 20px;
}
.particular .particulars-right .Color .Color-M .Color-a {
  font-size: 18px;
  color: #333333;
}
.particular .particulars-right .Color .Color-M .Color-b li {
  margin-right: 12px;
  margin-top: 10px;
  width: 292px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  border: #ff6700 1px solid;
}
.particular .particulars-right .Color .Color-M .Color-b a {
  color: #ff6700;
}
.particular .particulars-right .space li {
  width: 100%;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  padding: 30px 0;
  cursor: pointer;
}
.particular .particulars-right .space li img {
  width: 50px;
  height: 50px;
  margin: 0 15px 0 10px;
  float: left;
}
.particular .particulars-right .space li i {
  margin: 10px 0 0 30px;
  float: left;
}
.particular .particulars-right .space li i em {
  border: 1px solid #b0b0b0;
  font-size: 12px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff6700;
  color: #fff;
  margin-top: -4px;
}
.particular .particulars-right .space li .safeguard {
  width: 440px;
  float: left;
}
.particular .particulars-right .space li .safeguard .colo {
  color: #ff6700;
}
.particular .particulars-right .space li .safeguard h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.particular .particulars-right .space li .safeguard h3 em {
  font-style: normal;
  font-size: 14px;
  background: #ff6700;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 20px;
  color: #fff;
  margin-left: 2px;
}
.particular .particulars-right .space li .safeguard .safeguard-a {
  font-size: 14px;
  color: #b0b0b0;
  margin-top: 5px;
}
.particular .particulars-right .space li .safeguard .clause {
  overflow: hidden;
  color: #333;
  font-size: 14px;
  margin-top: 5px;
}
.particular .particulars-right .space li .safeguard .clause a {
  color: #ff6700;
}
.particular .particulars-right .space li .safeguard .clause .JQ {
  color: #b0b0b0;
  float: right;
}
.particular .particulars-right .space .space-a {
  margin-bottom: 30px;
}
.particular .particulars-right .space .space-a .title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}
.particular .particulars-right .space .space-a .title a {
  font-size: 14px;
  color: #ff6700;
  float: right;
}
.particular .particulars-right .space .space-a .boder {
  border: orangered 1px solid;
}
.particular .particulars-right .space .space-b {
  margin-bottom: 30px;
}
.particular .particulars-right .space .space-b .title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}
.particular .particulars-right .space .space-b .title a {
  font-size: 14px;
  color: #ff6700;
  float: right;
}
.particular .particulars-right .space .space-b .boder {
  border: orangered 1px solid;
}
.particular .particulars-right .total {
  margin: 30px 0;
  padding: 30px;
  background: #f9f9fa;
}
.particular .particulars-right .total li {
  font-size: 14px;
  color: #616161;
}
.particular .particulars-right .total li span {
  display: block;
  float: right;
}
.particular .particulars-right .total .total-a {
  padding-top: 20px;
  font-size: 24px;
  color: #ff6600;
}
.particular .particulars-right .love {
  margin: 10px 0 20px;
  overflow: hidden;
}
.particular .particulars-right .love .love-a {
  float: left;
  margin-right: 10px;
  width: 300px;
  height: 54px;
  border: 1px solid #ff6700;
  text-align: center;
  line-height: 54px;
  transition: all 0.4s ease 0s;
}
.particular .particulars-right .love .love-a a {
  color: #ff6700;
  transition: all 0.4s ease 0s;
}
.particular .particulars-right .love .love-a:hover {
  background: #ff6700;
}
.particular .particulars-right .love .love-a:hover a {
  color: #fff;
}
.particular .particulars-right .love .love-b {
  float: left;
  width: 142px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background: #b0b0b0;
  transition: all 0.4s ease 0s;
}
.particular .particulars-right .love .love-b a {
  color: #fff;
}
.particular .particulars-right .love .love-b:hover {
  background: #757575;
}
.specification {
  padding-bottom: 50px;
  background: #f5f5f5;
}
.specification h3 {
  font-size: 22px;
  font-weight: 400;
  padding: 22px 0;
}
footer > .wapper > .footer1 > .footer1-top {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a {
  color: #616161;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a:hover {
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a > i {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -3px;
}
footer > .wapper > .footer1 > .footer1-bottom {
  padding: 40px 0;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links {
  float: left;
  width: 160px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd {
  margin: 10px 0 0;
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd:hover > a {
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd > a {
  color: #757575;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > p {
  margin: 0 0 5px 0;
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .rig-ph {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  transition: all 0.4s;
  text-align: center;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu > i {
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot {
  font-size: 12px;
  margin-top: 10px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > a {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wb {
  background: url(../html/img/XL2.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wb:hover {
  background: url(../html/img/XL1.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx {
  background: url(../html/img/wx.png) no-repeat;
  background-size: cover;
  position: relative;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx > img {
  width: 126px;
  height: 126px;
  z-index: 2;
  position: absolute;
  top: 24px;
  left: -70px;
  display: none;
  border: 0;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx:hover {
  background: url(../html/img/wx@2x.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx:hover > img {
  display: block;
}
.footer2 {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.footer2 > .wapper {
  position: relative;
}
.footer2 > .wapper > .xm-pic {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../html/img/xm-logo.png) no-repeat 50% 50%;
  position: absolute;
  top: 0px;
  left: 0;
}
.footer2 > .wapper > .footer2-text {
  color: #b0b0b0;
  padding-left: 67px;
}
.footer2 > .wapper > .footer2-text > .text-s {
  line-height: 18px;
}
.footer2 > .wapper > .footer2-text > .text-s > a {
  color: #757575;
}
.footer2 > .wapper > .footer2-text > .text-s > a:hover {
  color: #ff6700;
}
.footer2 > .wapper > .footer2-text > .text-s2 > a {
  color: #b0b0b0;
}
.footer2 > .wapper > .footer2-text > .text-s2 > a:hover {
  color: #ff6700;
}
.footer2 > .wapper > .footer2-pi {
  height: 28px;
  margin: 4px 0 15px;
  padding-left: 67px;
}
.footer2 > .wapper > .footer2-pi > a > img {
  height: 28px;
  width: auto;
  border: 0;
}
.footer2 > .wapper > .footer2-pi > .pi-te {
  width: 150px;
  height: 40px;
  overflow: hidden;
  margin-left: 5px;
  position: relative;
}
.footer2 > .wapper > .footer2-pi > .pi-te > img {
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.footer2 > .wapper > .footer-last {
  clear: both;
  margin: 45px auto 0;
  width: 100%;
  height: 19px;
  background: url(../html/img/dbtp.png) no-repeat center 0;
}
