@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  color: #ff6700 !important;
  border-bottom: 2px solid #ff6700 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
}
a {
  display: inline-block;
  text-decoration: none;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.wapper {
  width: 1226px;
  margin: 0 auto;
}
ul > li {
  list-style-type: none;
}
header .head1 {
  height: 120px;
}
header .head1 > .head {
  height: 120px;
  width: 100%;
  background-image: url(../html/img/1.jpg);
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-position: 50%;
}
header .nav {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
header .nav > .wapper > .nav1 {
  float: left;
  height: 40px;
  line-height: 40px;
}
header .nav > .wapper > .nav1 > a {
  color: #b0b0b0;
  line-height: 40px;
}
header .nav > .wapper > .nav1 > a:hover {
  color: #fff;
}
header .nav > .wapper > .nav1 > .xz {
  position: relative;
}
header .nav > .wapper > .nav1 > .xz:hover > .xizai {
  height: 150px;
}
header .nav > .wapper > .nav1 > .xz > .xizai {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 124px;
  height: 0;
  background: #fff;
  margin-left: -55px;
  box-shadow: #aaa 0 1px 5px;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  overflow: hidden;
  transition: height 0.3s;
}
header .nav > .wapper > .nav1 > .xz > .xizai > img {
  width: 90px;
  height: 90px;
  display: block;
  border: 0;
  margin: 18px auto 12px;
}
header .nav > .wapper > .nav1 > .ver {
  margin: 0.3em;
  color: #424242;
}
header .nav > .wapper > .buycar {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 40px;
  text-align: center;
  background: #424242;
}
header .nav > .wapper > .buycar > a {
  color: #b0b0b0;
  font-size: 12px;
}
header .nav > .wapper > .buycar:hover {
  background-color: #ffffff;
}
header .nav > .wapper > .buycar:hover > a {
  color: #ff6700;
}
header .nav > .wapper > .buycar > .buycar-2 {
  position: absolute;
  background-color: #ffffff;
  border: 0px solid black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  width: 315px;
  height: 0;
  right: 0;
  top: 40px;
  overflow: hidden;
  transition-duration: 0.5s;
}
header .nav > .wapper > .buycar:hover > .buycar-2 {
  height: 100px;
}
header .nav > .wapper > .nav2 {
  float: right;
  height: 40px;
  line-height: 40px;
}
header .nav > .wapper > .nav2 > a {
  color: #b0b0b0;
  line-height: 40px;
}
header .nav > .wapper > .nav2 > a:hover {
  color: #fff;
}
header .snav {
  height: 100px;
}
header .snav > .wapper > .snav-logo {
  overflow: hidden;
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #ff7200;
  margin-top: 22px;
  float: left;
}
header .snav > .wapper > .snav-logo > a > img {
  width: 55px;
  height: 55px;
}
header .snav > .wapper > .snav-logo .s-logo {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: -55px;
}
header .snav > .wapper > .snav-logo .s-logo1 {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}
header .snav > .wapper > .snav-logo:hover > .s-logo {
  left: 0;
  top: 0;
  transition: all 0.2s;
}
header .snav > .wapper > .snav-logo:hover > .s-logo1 {
  position: absolute;
  top: 0;
  left: 55px;
  transition: all 0.2s;
}
header .snav > .wapper > .snav-nav {
  margin-left: 150px;
  float: left;
}
header .snav > .wapper > .snav-nav > ul {
  float: left;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  font-size: 16px;
}
header .snav > .wapper > .snav-nav > ul > .nav-item {
  float: left;
}
header .snav > .wapper > .snav-nav > ul > .nav-item > a {
  padding: 26px 10px 38px;
  color: #333;
}
header .snav > .wapper > .snav-nav > ul > .nav-item:hover > a {
  color: orange;
}
header .snav > .wapper > .sea {
  float: right;
  width: 275px;
  height: 52px;
  margin-top: 25px;
  font-size: 0;
}
header .snav > .wapper > .sea:hover > a > input {
  border-color: #b0b0b0;
}
header .snav > .wapper > .sea > .sea-a2:hover > .sea-btn {
  background-color: #ff7200;
  border: 0;
  color: #fff;
}
header .snav > .wapper > .sea > a {
  vertical-align: middle;
}
header .snav > .wapper > .sea > a > .sea-text {
  width: 223px;
  height: 49px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
}
header .snav > .wapper > .sea > a > .sea-btn {
  right: 0;
  width: 52px;
  height: 49px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  outline: 0;
  background-color: #fff;
  color: #616161;
  font-weight: 600;
  transition: all 0.2s;
}
header .slide > .wapper {
  position: relative;
}
header .slide > .wapper > .slide-nav {
  height: 460px;
  width: 234px;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header .slide > .wapper > .slide-nav > li {
  height: 42px;
  position: relative;
}
header .slide > .wapper > .slide-nav > li > .banner-nav {
  position: absolute;
  left: 234px;
  top: -20px;
  width: 992px;
  height: 460px;
  background: white;
  box-shadow: 5px 5px 5px #cccccc;
  border-top: 1px solid #cccccc;
  display: none;
  opacity: 1 !important;
}
header .slide > .wapper > .slide-nav > li > .banner-nav > li {
  width: 185px;
  padding: 18px 20px;
  display: inline-block;
}
header .slide > .wapper > .slide-nav > li > .banner-nav > li a {
  display: block;
  height: 40px;
  line-height: 40px;
}
header .slide > .wapper > .slide-nav > li > .banner-nav > li a span {
  color: #444444;
  line-height: 40px;
  padding: 0px 20px;
  vertical-align: middle;
}
header .slide > .wapper > .slide-nav > li > .banner-nav > li a span:hover {
  color: orangered;
}
header .slide > .wapper > .slide-nav > li > .banner-nav > li a img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
header .slide > .wapper > .slide-nav > li > .slide-char {
  color: #fff;
  font-size: 14px;
  line-height: 42px;
  padding-left: 30px;
  width: 234px;
}
header .slide > .wapper > .slide-nav > li > .slide-char > .sym {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #e0e0e0;
}
header .slide > .wapper > .slide-nav > li:hover {
  background-color: #ff7200;
}
header .slide > .wapper > .slide-nav > li:hover > .banner-nav {
  display: block;
}
header .slide > .wapper > .banner {
  background-color: pink;
  float: right;
  height: 460px;
  width: 992px;
}
header .slide > .wapper > .swiper-container {
  position: relative;
  height: 460px;
  overflow: hidden;
}
header .slide > .wapper > .swiper-container > .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
header .slide > .wapper > .swiper-container > .swiper-wrapper > .swiper-slide {
  width: 1226px;
  transition-duration: 0ms;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  height: 460px;
  text-align: right;
}
header .slide > .wapper > .swiper-container > .swiper-wrapper > .swiper-slide > a > img {
  display: block;
  width: 1226px;
  height: 460px;
  border: 0;
}
header .slide > .wapper > .swiper-container > .swiper-pagination {
  text-align: right;
}
header .slide > .wapper > .swiper-container > .swiper-pagination > span {
  display: inline-block;
  margin-right: 3px;
}
header .slide > .wapper > .swiper-container > .swiper-button-prev {
  left: 240px !important;
  background: url(../html/img/jlta.png) no-repeat -85px 50%;
}
header .slide > .wapper > .swiper-container > .swiper-button-prev:hover {
  background-position: 0 50%;
}
header .slide > .wapper > .swiper-container > .swiper-button-next {
  right: 15px;
  background: url(../html/img/jlta.png) no-repeat -130px 50%;
}
header .slide > .wapper > .swiper-container > .swiper-button-next:hover {
  background-position: -48px 50%;
}
header .last {
  margin-top: 14px;
  margin-bottom: 26px;
}
header .last > .wapper > .small-icon {
  float: left;
  width: 234px;
  min-height: 1px;
}
header .last > .wapper > .small-icon > .last-list {
  padding: 3px;
  font-size: 12px;
  text-align: center;
  background: #5f5750;
}
header .last > .wapper > .small-icon > .last-list > li {
  position: relative;
  float: left;
  width: 76px;
  height: 82px;
  padding: 0 3px;
}
header .last > .wapper > .small-icon > .last-list > li:hover > a {
  color: #fff;
  opacity: 1;
}
header .last > .wapper > .small-icon > .last-list > li > a {
  display: block;
  padding-top: 18px;
  text-overflow: ellipsis;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.2s;
}
header .last > .wapper > .small-icon > .last-list > li > a > img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}
header .last > .wapper > .pic {
  float: right;
  width: 978px;
}
header .last > .wapper > .pic > .pic-list > .pic-one {
  margin-left: 0;
}
header .last > .wapper > .pic > .pic-list > li {
  float: left;
  margin-left: 15px;
}
header .last > .wapper > .pic > .pic-list > li > a > img {
  display: block;
  width: 316px;
  height: 170px;
  border: 0;
}
main {
  background-color: #f5f5f5;
  padding-bottom: 12px;
}
main > .main-lig > .wapper > .x-title {
  margin-bottom: 22px;
}
main > .main-lig > .wapper > .x-title > .title {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main > .main-lig > .wapper > .x-title > .title > .title-move {
  float: right;
  padding-top: 5px;
}
main > .main-lig > .wapper > .x-title > .title > .title-move > span {
  display: inline-block;
  width: 38px;
  height: 25px;
  padding: 3px 5px;
  margin-left: -7px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 16px;
  transition: color 0.5s;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
}
main > .main-lig > .wapper > .x-title > .title > .title-move > span > i {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 {
  height: 339px;
  padding-top: 39px;
  border-top-width: 1px;
  border-top-style: solid;
  background: #f1eded;
  text-align: center;
  border-top-color: #e53935;
  float: left;
  min-height: 1px;
  width: 234px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > .shop1-ses {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > img {
  margin: 25px auto;
  border: 0;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > .shop1-ses1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > .shop1-set {
  width: 168px;
  margin: 28px auto 0;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > .shop1-set > span {
  display: block;
  float: left;
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop1 > .shop1-set > i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 {
  float: left;
  width: 978px;
  margin-left: 14px;
  overflow: hidden;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box {
  height: 340px;
  width: 10000px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com {
  width: 234px;
  margin-right: 14px;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
  background: #fff;
  float: left;
  overflow: hidden;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a {
  height: 339px;
  padding-top: 39px;
  color: #757575;
  position: relative;
  display: block;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-pic {
  width: 160px;
  margin: 0 auto 22px;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-pic > img {
  width: 160px;
  height: 160px;
  border: 0;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-tit {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-price {
  color: #ff6709;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com > a > .com-sub > .sub-price > del {
  color: #b0b0b0;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com1 {
  border-top-color: #ffac13;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com2 {
  border-top-color: #83c44e;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com3 {
  border-top-color: #2196f3;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com4 {
  border-top-color: #e53935;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com5 {
  border-top-color: #00c0a5;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com6 {
  border-top-color: #ffac13;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com7 {
  border-top-color: #83c44e;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com8 {
  border-top-color: #2196f3;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com9 {
  border-top-color: #e53935;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com10 {
  border-top-color: #00c0a5;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com11 {
  border-top-color: #ffac13;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com12 {
  border-top-color: #83c44e;
}
main > .main-lig > .wapper > .x-title > .shop > .shop2 > .shop2-box > .shop2-com13 {
  border-top-color: #2196f3;
}
main > .main-lig > .wapper > .note9 {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}
main > .main-lig > .wapper > .note9 > a > img {
  display: block;
  width: 1226px;
  height: 120px;
  border: 0;
}
main > .main-lig > .wapper > .x-phone {
  margin-bottom: 8px;
}
main > .main-lig > .wapper > .x-phone > .phone-title {
  height: 58px;
  position: relative;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title3 {
  position: absolute;
  top: 0;
  right: 0;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title3:hover > a {
  color: #ff6700;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title3 > a {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title3 > a:hover > i {
  color: #ff6700;
}
main > .main-lig > .wapper > .x-phone > .phone-title > .phone-title3 > a > i {
  display: inline-block;
  margin-left: 5px;
  font-size: 22px;
  color: #b0b0b0;
  vertical-align: -2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone11-pic {
  float: left;
  position: relative;
  z-index: 1;
  width: 234px;
  height: 614px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone11-pic:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone11-pic > a {
  height: 100%;
  width: 100%;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone11-pic > a > img {
  height: 614px;
  width: 234px;
  border: 0;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s {
  width: 978px;
  float: left;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 {
  height: 614px;
  width: 992px;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell {
  height: 300px;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a {
  display: block;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a > .phone-img {
  height: 160px;
  width: 160px;
  margin: 0 auto 18px;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a > .phone-img > img {
  width: 160px;
  height: 160px;
  border: 0;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a > .phone-xm11 {
  margin: 0 10px 2px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a > .phone-desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main > .main-lig > .wapper > .x-phone > .phone-content > .phone-s > .phones1 > .phone-sell > a > .phone-price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}
main > .main-lig > .wapper > .tv {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}
main > .main-lig > .wapper > .tv > a > img {
  width: 1226px;
  height: 120px;
  border: 0;
}
main > .main-lig > .wapper > .home-app {
  margin-bottom: 8px;
}
main > .main-lig > .wapper > .home-app > .home-title {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
}
main > .main-lig > .wapper > .home-app > .home-title > .home-a {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main > .main-lig > .wapper > .home-app > .home-title > .home-title2 {
  position: absolute;
  top: 0;
  right: 0;
}
main > .main-lig > .wapper > .home-app > .home-title > .home-title2 > .home-tab {
  margin: 0;
  padding: 16px 0 0;
  font-size: 16px;
}
main > .main-lig > .wapper > .home-app > .home-title > .home-title2 > .home-tab > li {
  display: inline-block;
  padding: 0;
  margin: 0 15px;
  color: #424242;
  border-bottom: 2px solid #f5f5f5;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  margin: 0 0 0 30px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 {
  width: 234px;
  float: left;
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 > .content1-left {
  height: 614px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 > .content1-left > .left-list {
  height: 300px;
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 > .content1-left > .left-list:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 > .content1-left > .left-list > a {
  display: block;
  width: 100%;
  height: 100%;
}
main > .main-lig > .wapper > .home-app > .home-content > .content1 > .content1-left > .left-list > a > img {
  height: 300px;
  width: 234px;
  border: 0;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 {
  width: 978px;
  float: left;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab {
  width: 992px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list {
  height: 300px;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a {
  display: block;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-pic {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-pic > img {
  width: 160px;
  height: 160px;
  border: 0;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-tit {
  margin: 0 10px 2px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .tab-list > a > .list-price > del {
  margin-left: 0.5em;
  color: #b0b0b0;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s {
  height: 143px;
  padding-top: 50px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-pic {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-pic > img {
  width: 80px;
  height: 80px;
  border: 0;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-pic2 {
  position: absolute;
  right: 25px;
  top: 38px;
  width: 65px;
  height: 65px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-pic2 > img {
  width: 65px;
  height: 65px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-tit {
  margin: -10px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-tit2 {
  display: block;
  margin: 0 110px 0 30px;
  font-size: 18px;
  color: #333;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-price {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-price > span {
  font-size: 14px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-price2 {
  margin: 0 110px 0 30px;
}
main > .main-lig > .wapper > .home-app > .home-content > .content2 > .content2-hot > .hot-tab > .list-s > a > .list-s-price2 > span {
  display: block;
  font-size: 12px;
  color: #757575;
}
main > .main-lig > .wapper > .video > .phone-title {
  height: 58px;
  position: relative;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title3 {
  position: absolute;
  top: 0;
  right: 0;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title3:hover > a {
  color: #ff6700;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title3 > a {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title3 > a:hover > i {
  color: #ff6700;
}
main > .main-lig > .wapper > .video > .phone-title > .phone-title3 > a > i {
  display: inline-block;
  margin-left: 5px;
  font-size: 22px;
  color: #b0b0b0;
  vertical-align: -2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main > .main-lig > .wapper > .video > .video-main > .video-list {
  width: 1240px;
  height: 285px;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item {
  position: relative;
  float: left;
  width: 296px;
  height: 285px;
  margin-right: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-img {
  position: relative;
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-img:hover > .video-cil {
  background-color: #ff6700;
  border-color: #ff6700;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-img > img {
  width: 296px;
  height: 180px;
  border: 0;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-img > .video-cil {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 36px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: #424242;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-img > .video-cil > i {
  font-size: 15px;
  line-height: 22px;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-tit {
  margin: 0 14px 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main > .main-lig > .wapper > .video > .video-main > .video-list > .video-item > a > .video-price {
  height: 18px;
  margin: 0 14px;
  font-size: 12px;
  color: #b0b0b0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
footer > .wapper > .footer1 > .footer1-top {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a {
  color: #616161;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a:hover {
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-top > .footer1-gua > .gua-list > a > i {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -3px;
}
footer > .wapper > .footer1 > .footer1-bottom {
  padding: 40px 0;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links {
  float: left;
  width: 160px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd {
  margin: 10px 0 0;
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd:hover > a {
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-links > dd > a {
  color: #757575;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > p {
  margin: 0 0 5px 0;
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .rig-ph {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  transition: all 0.4s;
  text-align: center;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .kefu > i {
  font-size: 12px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot {
  font-size: 12px;
  margin-top: 10px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > a {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wb {
  background: url(../html/img/XL2.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wb:hover {
  background: url(../html/img/XL1.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx {
  background: url(../html/img/wx.png) no-repeat;
  background-size: cover;
  position: relative;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx > img {
  width: 126px;
  height: 126px;
  z-index: 2;
  position: absolute;
  top: 24px;
  left: -70px;
  display: none;
  border: 0;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx:hover {
  background: url(../html/img/wx@2x.png) no-repeat;
  background-size: cover;
}
footer > .wapper > .footer1 > .footer1-bottom > .bot-rig > .bot-bot > .wx:hover > img {
  display: block;
}
.footer2 {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.footer2 > .wapper {
  position: relative;
}
.footer2 > .wapper > .xm-pic {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../html/img/xm-logo.png) no-repeat 50% 50%;
  position: absolute;
  top: 0px;
  left: 0;
}
.footer2 > .wapper > .footer2-text {
  color: #b0b0b0;
  padding-left: 67px;
}
.footer2 > .wapper > .footer2-text > .text-s {
  line-height: 18px;
}
.footer2 > .wapper > .footer2-text > .text-s > a {
  color: #757575;
}
.footer2 > .wapper > .footer2-text > .text-s > a:hover {
  color: #ff6700;
}
.footer2 > .wapper > .footer2-text > .text-s2 > a {
  color: #b0b0b0;
}
.footer2 > .wapper > .footer2-text > .text-s2 > a:hover {
  color: #ff6700;
}
.footer2 > .wapper > .footer2-pi {
  height: 28px;
  margin: 4px 0 15px;
  padding-left: 67px;
}
.footer2 > .wapper > .footer2-pi > a > img {
  height: 28px;
  width: auto;
  border: 0;
}
.footer2 > .wapper > .footer2-pi > .pi-te {
  width: 150px;
  height: 40px;
  overflow: hidden;
  margin-left: 5px;
  position: relative;
}
.footer2 > .wapper > .footer2-pi > .pi-te > img {
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.footer2 > .wapper > .footer-last {
  clear: both;
  margin: 45px auto 0;
  width: 100%;
  height: 19px;
  background: url(../html/img/dbtp.png) no-repeat center 0;
}
